Pillow
django-colorfield
django-filter
djangorestframework
djangorestframework-simplejwt
djoser
requests
PyJWT
pytest
pytest-django
pytest-pythonpath
asgiref
Django
gunicorn
psycopg2-binary
pytz
sqlparse